<%- include('partials/header'); -%>

<header>
  <div class="car parts ">
    <img src="/gunsel.png" alt="">
  </div>
  <div class="headings">
    <h2>Car parts</h2>
    <h3>By Gunsel Drive the silence</h3>
    <a href="/parts" class="btn">View Parts</a>
  </div>
</header>


<%- include('partials/footer'); -%>