<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/batterycharger.png" alt="smoothie recipe icon">
    <h4>battery charger</h4>
    <p>the component that provides charge to battery without overcharging</p>
  </li>
  <li class="recipe">
    <img src="/batterymanagesystem.png" alt="smoothie recipe icon">
    <h4>battery management system</h4>
    <p>used to increase efficiency and safety of battery</p>
  </li>
  <li class="recipe">
    <img src="/batterypack.png" alt="smoothie recipe icon">
    <h4>battery pack</h4>
    <p>used to store charge to keep the car running</p>
  </li>
  <li class="recipe">
    <img src="/chargingport.png" alt="smoothie recipe icon">
    <h4>charging port</h4>
    <p>provides power to charge</p>
  </li>
  <li class="recipe">
    <img src="/electric motor.png" alt="smoothie recipe icon">
    <h4>electric motor</h4>
    <p>converts electrical energy into mechanical energy.</p>
  </li>
  <li class="recipe">
    <img src="/power invertor.png" alt="smoothie recipe icon">
    <h4>power invertor</h4>
    <p>converts DC power to the AC power</p>
  </li>
</ul>

<%- include('partials/footer'); -%>